<?php

if (!defined("DB_HOST")) define("DB_HOST", "localhost");
if (!defined("DB_NAME")) define("DB_NAME", "database name");
if (!defined("DB_USER")) define("DB_USER", "database user");
if (!defined("DB_PASSWORD")) define("DB_PASSWORD", "database password");
